{% extends "structure.html"%}

{% block main %}
<div class="container">

  <h1>Lorem Ipsum</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"><a href="/">Home</a></th>
        <th scope="col"><a href="/aboutus">About Us</th>
        <th scope="col"><a href="/privacy">Privacy</th>
        <th scope="col"><a href="/termsofuse">Terms of Use</th>
          <th scope="col"><a href="/signup">Sign Up</th>

      </tr>
    </thead>
  </table>

<br>
<p class="h6" align = 'justify'> Sed faucibus sed nisi efficitur interdum. Nunc egestas justo ac elit consequat, quis placerat augue ornare. Pellentesque mattis malesuada lacinia. Fusce semper nulla elit, gravida condimentum nulla pulvinar ac. Phasellus ut ipsum tincidunt, viverra ligula sit amet, mollis orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus malesuada dapibus velit, id imperdiet neque ornare sit amet. Sed fringilla pellentesque iaculis.</p>
<br>
<p class="h6" align = 'justify'> Sed hendrerit nunc dolor, eget eleifend mi dictum vitae. Suspendisse a facilisis ex, iaculis pulvinar justo. Aliquam id porttitor tortor. Proin mattis nulla quis sapien scelerisque interdum. Duis vitae sollicitudin odio. Quisque in aliquam mi. Nunc suscipit lectus libero, eget bibendum orci mollis non.
</p><br>
<p class="h6" align = 'justify'> Sed porta nulla ut arcu mollis convallis. Donec imperdiet ultrices velit et iaculis. Quisque sit amet purus sapien. Quisque ac mattis nisi. Sed imperdiet tincidunt quam, sit amet viverra nisl imperdiet non. Nulla porta sem sed purus consectetur, in imperdiet sem lacinia. Aliquam vitae arcu pulvinar, tempor libero vitae, tristique ligula. Maecenas vel convallis ante. Aliquam vestibulum porttitor nulla, eget tincidunt lectus facilisis ut. Vivamus maximus massa id leo auctor porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sem odio, vitae rhoncus dui porta ac. Aenean finibus efficitur erat egestas faucibus. Nulla eget enim nisi. Phasellus a leo commodo, tincidunt dui sit amet, porttitor mi.
</p><br>
<p class="h6" align = 'justify'> Praesent finibus erat a arcu cursus, id varius magna ultrices. Maecenas varius justo non quam sagittis, in luctus dolor tempor. Cras rhoncus, libero ac condimentum eleifend, erat ipsum pretium est, non interdum eros metus quis dolor. Integer maximus ac arcu vitae dignissim. Suspendisse sit amet tortor sit amet turpis consequat congue eget sit amet purus. Integer nunc turpis, commodo vitae nisl sed, vehicula hendrerit mi. Nulla ac tincidunt ante. Proin hendrerit vestibulum dui. Nam erat risus, ornare nec orci at, porta commodo est. Donec sit amet ipsum posuere, molestie ante vel, elementum massa. Morbi et enim quis magna varius finibus. Mauris mi sem, mattis nec dui sit amet, commodo lobortis nulla. Vivamus quis lacinia dolor. Aliquam fringilla turpis viverra dolor efficitur, at finibus tellus egestas.
</p><br>
<p class="h6" align = 'justify'> Mauris vel mollis lacus. Suspendisse pharetra mattis eros, vitae rhoncus massa vestibulum nec. Duis quis vulputate ex. Vestibulum in felis semper sem aliquet eleifend. Vestibulum tincidunt lorem pretium semper malesuada. Donec non libero risus. Suspendisse a iaculis massa. Pellentesque consequat tincidunt nibh non hendrerit. Duis eleifend nisl leo, quis vestibulum ligula gravida non. Nulla a elit magna.
</p><br>
<p class="h6" align = 'justify'> Donec vulputate commodo diam, vitae tristique eros vestibulum a. Vestibulum imperdiet, metus vitae efficitur semper, leo est bibendum enim, elementum vulputate justo tortor id lorem. Cras aliquam, nunc non facilisis ultricies, ipsum leo tristique lorem, at ornare nunc odio quis augue. Nulla a augue sollicitudin, elementum nisi porta, ultrices felis. Sed vehicula, risus a vulputate scelerisque, mi massa lobortis lorem, vitae sollicitudin nulla nulla accumsan purus. Aenean ultricies nisi eget metus sollicitudin, a cursus massa luctus. Morbi accumsan sapien quis sagittis convallis. In eu tempus arcu. Etiam vitae porttitor mi.
</p><br>
<p class="h6" align = 'justify'> Fusce feugiat egestas neque ac rhoncus. Nam nunc orci, porttitor quis lectus vel, pretium cursus turpis. Fusce a placerat urna, sed tincidunt urna. Sed a erat semper, aliquet felis eget, dictum mauris. Phasellus dolor nisl, mattis ac lacinia sed, lacinia eget ex. Donec tristique aliquet enim, a aliquet risus euismod ac. Curabitur venenatis lobortis lacus non blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sodales nec ante nec convallis. In non nisi dui. Aliquam erat volutpat. Donec vitae sapien placerat, lobortis ipsum vel, viverra nulla. Curabitur dui eros, feugiat in suscipit quis, pulvinar ullamcorper est.
</p><br>
<p class="h6" align = 'justify'> Donec dignissim vulputate finibus. Nullam vitae accumsan nibh. Ut a nibh sem. Morbi condimentum elementum varius. Nam mollis lacus sed sagittis congue. Donec tristique accumsan risus in placerat. Nunc congue, tortor vitae porttitor consequat, eros justo auctor dui, ac sagittis risus magna quis massa. Aliquam cursus pharetra hendrerit. Vivamus feugiat neque eu dui consequat mattis. Proin viverra ex a metus auctor, at venenatis felis aliquet. In rhoncus quis purus vitae consectetur. Nullam porta ligula urna, a euismod diam ultricies quis. Aenean sit amet risus dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p><br>
<p class="h6" align = 'justify'> Donec et interdum elit. Nullam lobortis, ipsum et mollis sollicitudin, nisl metus tincidunt urna, eleifend congue nibh eros et turpis. Donec ullamcorper lectus aliquam, ullamcorper nisi lobortis, aliquet lacus. Aliquam erat volutpat. Praesent vulputate urna placerat odio convallis, vitae gravida dui bibendum. Pellentesque sit amet posuere dui, a consequat tortor. Sed pellentesque varius felis. Pellentesque efficitur vehicula orci sed imperdiet. Maecenas tellus lacus, volutpat feugiat ante vitae, bibendum sollicitudin augue. Donec scelerisque arcu in tellus porta pharetra. Nullam hendrerit justo consectetur, rhoncus neque pretium, rhoncus arcu. Duis id enim nec augue accumsan venenatis. Morbi ornare ut nunc nec viverra. In sed quam at enim placerat fermentum. Vivamus sed diam in sem accumsan tristique ac at risus.
</p><br>
<p class="h6" align = 'justify'> Fusce sed ex libero. Phasellus tempus dolor mauris, vitae ornare est feugiat accumsan. Vestibulum aliquam lectus at placerat gravida. Nunc fermentum justo ut leo sodales ultricies. Nunc ullamcorper suscipit arcu, a auctor metus pretium vitae. In vel magna diam. Sed pellentesque erat ex, sed dictum ex dignissim nec. Etiam euismod tortor vitae ligula cursus varius lobortis id sem. Vivamus vel imperdiet tellus. Curabitur venenatis mollis metus quis ultrices.


</div>
  <p>{{ message }}</p>

{% endblock main %}
